Flask
pyspark==3.5.3
mysql-connector-python==9.4.0
delta-spark==3.3.2
confluent-kafka[avro]==2.10.1
avro==1.12.0
setuptools
openai
openai-agents
crewai
crewai[tools] 
crewai_tools
langsmith
langgraph
langchain
langchain_core
langchain_community
langchain-mcp-adapters
langchain-chroma 
langchain_openai
langchain_groq
langchain-huggingface
langchain-google-genai
langchain_ollama
langchain-azure-ai[tools,opentelemetry]
azure-identity
chromadb
text-generation 
transformers 
google-search-results 
numexpr 
langchainhub
sentence-transformers 
sentencepiece 
jinja2 
bitsandbytes 
accelerate
pypdf
pymupdf
faiss-cpu
python-dotenv
typesense
streamlit
duckduckgo-search
pysqlite3-binary